[Unit]
Description=FKomarek's automatic disk shreder service
After=network.target

[Service]
Type=simple
ExecStartPre=sleep 30
ExecStart=bash /opt/automatic-disk-shreder/shreder.bash
User=root

[Install]
WantedBy=multi-user.target
